---
export const prerender = false;
import PageLayout from '@/components/layout/PageLayout.astro';
import Container from '@/components/layout/Container.astro';
import { AccountSignup } from '@/components/account/AccountSignup';
import { getSessionFromRequest } from '@/lib/auth';

const session = await getSessionFromRequest(Astro.request);
if (session) {
  return Astro.redirect('/account');
}
---

<PageLayout
  title="Create an Account | Telluride Ski Hotels"
  description="Create your account to manage bookings and unlock faster checkout."
>
  <div class="bg-neutral-50 min-h-[calc(100vh-200px)]">
    <Container class="pt-10 md:pt-20 pb-20 md:pb-24">
      <AccountSignup client:load />
    </Container>
  </div>
</PageLayout>


